/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top Header */
.top-header {
    background: #d2b2b2;
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
}

.fruits-btn {
    background: white;
    color: #d32f2f;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.fruits-btn:hover {
    background: rgb(255, 230, 230);
}

/* Overlay Blur Background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
    display: none;
    z-index: 900;
}

/* Right Panel Menu */
.panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background: white;
    padding: 20px;
    box-shadow: -5px 0 20px rgba(0,0,0,0.4);
    display: none;
    font-family: Arial, sans-serif;
    z-index: 9999;
}

.panel h2 {
    text-align: center;
    margin-bottom: 15px;
}

.fruit-list {
    display: grid;
    gap: 15px;
}

.fruit-item {
    text-align: center;
}

.fruit-item img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.addCart {
    background: #d32f2f;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}
.addCart:hover {
    background: #a61010;
}

/* Close panel button */
.close-btn {
    background: #111;
    color: white;
    padding: 5px 10px;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

/* Swiper main container */
.swiper {
    width: 100%;
    height: 80vh;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    overflow: hidden;
}

/* Slide image */
.swiper-slide img {
    width: 120%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    transition: transform .3s ease;
}
.swiper-slide img:hover {
    transform: scale(1.03);
}

/* Fruit section */
.fruit-thoughts {
    text-align: center;
    background-color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.fruit-thoughts h2 {
    color: #d32f2f;
    margin-bottom: 20px;
    font-size: 28px;
}

.fruit-thoughts p {
    color: #555;
    font-size: 16px;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover,
nav .active {
    text-decoration: underline;
}

/* About Page Styling */
.about-section {
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.about-section h2 {
    color: #d32f2f;
    font-size: 28px;
    margin-bottom: 15px;
}

